//////////////////////////////////////////
// 1024px Media - iPad/Tablet Landscape //
//////////////////////////////////////////

@media all and (max-width: 1024px) {

	body::-webkit-scrollbar-thumb
	{
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #3d3d3d;
	}

	header{
		grid-template-columns: 2.5% auto auto 2.5%;
	}

	header::before{
		// Tinted image
		background: 
			linear-gradient(
	    		rgba(black, 0.6), 
	    		rgba(black, 0.6)
	    	),
			url(../../assets/citra.png);
		background-size: cover;
		background-position: center;	
		background-attachment: fixed;
	}

	ul {
		margin-left: 15%;
	}

	main{
		grid-template-columns: auto 95% auto;
	}

	footer{
		height: 40px;
		grid-template-columns: 2.5% auto auto 2.5%; 
		background: rgba(black, 0.8);
	}

	#copyright{
		font-size: 0.75em;
		line-height: 40px;
		color: #777;
	}

	#social{
		line-height: 40px;

		li{
			padding-top: 2px;
			margin-left: 30px;
		}
	}
}