//////////////////
// 500px Retina //
//////////////////
@media only screen 
  and (max-device-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	header{
		grid-template-columns: 2.5% 17vh 15vw auto 2.5%;
		padding: 20px 0 20px 0;
		height: 17vh;
	}

	#logo{
		height: 17vh;
	}

	nav{
		a{
			height: 100%;
			width: 100%;
			margin: 0;
			font-size: 2.25em;
		}
	}

	li{
		max-width: 250px;
		height: 80px;
	}

	ul{
		line-height: 80px;
	}

	article:first-of-type{
		margin-top: calc(34vh + 80px);
	}

	h2{
		height: 10vh;
		line-height: 10vh;
		font-size: 5em;
	}

	p{
		font-size: 2.5em;
	}

	footer{
		height: 6vh;
	}

	#copyright{
		line-height: 6vh;
		font-size: 1.5em;
	}

	#social{
		line-height: 6.5vh;

		li{
			margin-left: 70px;

			a{
				font-size: 1.75em;
			}

		}
	}
}