///////////
// 700px //
///////////

@media only screen and (max-width: 700px) {

	// Stuff goes here.

}

//////////////////
// 700px Retina //
//////////////////

@media only screen 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	// Stuff goes here.

}

//////////////////////////////
// 700px Retina - Landscape //
//////////////////////////////

@media only screen 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  	nav{
  		a{
  			// Do we need explicit declaration on these?
			//max-width: 150px;
			//height: 45px;
			font-size: 1.5em;
		}
  	}

  	ul{
  		line-height: 45px;
  	}

  	li{
  		width: 25%;
  		max-width: 150px;
  		height: 45px;
  	}

  	p{
  		font-size: 1.75em;
  	}

  	footer{
  		height: 10vh;
  	}

  	#copyright{
  		line-height: 10vh;
  		font-size: 1em;
  	}

  	#social{
  		line-height: 10.5vh;
  		li{
  			margin-left: 40px;
  			a{
  				font-size: 1.1em;
  			}
  		}

  	}

}