////////////////////////////////////////
// 800px Media - iPad/Tablet Portrait //
////////////////////////////////////////

@media all and (max-width: 800px) {

	header::before{
		// Tinted image
		background: 
			linear-gradient(
	    		rgba(black, 0.75), 
	    		rgba(black, 0.75)
	    	),
			url(../../assets/citra.png);
		background-size: cover;
		background-position: center;	
		background-attachment: fixed;
	}

	footer{
		background: rgba(black, 0.85);
	}

}
