///////////////////////////
// Iphone Testing Ground // 
///////////////////////////

@media only screen 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	header{
  		height: 20vh;
  		padding: 0;
		grid-template-columns: 2.5% 18vh auto 2.5%;
	}

  	nav{
  		// background-color: blue;
  	}

	header:before{
  		// background: red;
  	}

  	#logo{
  		margin-top: 2vh;
  		height: 16vh;
  	}

	ul{
		margin-left: 5%;
		align-items: center;
	}

	li{
		width: 50%;
		// This seems like an elegant solution. 
		max-width: 270px;
		height: 90px;
		// background: purple;
	}

	a{
		height: 100%;
		line-height: 90px;
		font-size: 2.5em;
	}

	p{
		font-size: 2.5em;
	}

	footer{
		height: 8vh;
	}

	#copyright{
		line-height: 8vh;
		font-size: 1.75em;
	}

	#social{

		li{
			margin-left: 70px;
		}

		// This is where the footer links specifically are controlled.
		a{
			line-height: 8vh;
		}
	}

}