// Imports
@import "normalize";

// Variables
$blue: #37aefa;
$red: #ff7575;

html, body{
	height: 100%;
}

body{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: [one] 1% [two] 18% [three] auto [four] 5% [five];
	background-image: url("../../assets);../../assets/citra.png");
	background-size: cover;
	background-position: center;
}

header{
	grid-area: header;
	display: grid;
	grid-template-columns: [first] 5% [second] 10% [third] auto [fourth] 30% [fifth] 5% [end];
	// For some reason can't make the top portion auto?
	grid-template-rows: [top] 70% [middle] 30% [bottom];
	background: rgba(red, 0.3);
}

ul{ 
	list-style: none;
}

#logo{
	grid-area: logo;
	max-height: 100%;
	background: rgba(black, 0.3);
}

// All set for flexbox here.
nav{
	grid-area: nav;
	background: rgba(black, 0.3);
}

main{
	grid-area: main;
	background-color: rgba(aquamarine, 0.3);
}

footer{
	grid-area: footer;
	background: rgba(purple, 0.3);
}

body{
	grid-template-areas: 
		"."
		"header"
		"main"
		"footer";
}

header{
	grid-template-areas:
		". logo . . ."
		". lgoo . nav ."; 
}