// Imports
@import "normalize";

// Variables

html, body{
	height: 100%;
}

body{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: [one] 10px [two] 18% [three] auto [four] 5% [five];
	background-image: url("../../assets);../../assets/citra.png");
	background-size: cover;
	background-position: center;
}

header{
	grid-row: two / three;
	display: grid;
	grid-template-columns: [first] 5% [second] 10% [third] auto [fourth] 600px [fifth] 5% [end];
	background: rgba(red, 0.3);
}

#logo{
	height: 100%; 
	grid-column: second / third;
	background: rgba(black, 0.3);
}

nav{
	display: grid;
	grid-template-rows: [nav-top] auto [nav-middle] 50px [nav-bottom];
	grid-column: fourth / fifth;
	background: rgba(orange, 0.3);
}

ul{
	margin: 0;
	list-style: none;
	grid-row: nav-middle / nav-bottom;
	background-color: blue;
}

li{
	display: inline-block;
}

main{
	grid-row: three / four;
	background-color: rgba(blue, 0.3);
}

footer{
	grid-row: four / five;
	background: rgba(green, 0.3);
}