// Imports
@import "normalize";

// Variables
$red: #e82637;

html, body{
	height: 100%;
}

body{
	// display: grid;
	// grid-template-rows: 18% auto;
	background-image: url("../../assets/citra.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	grid-template-areas: 
		"header"
		"main";
		// "footer";
	overflow-x: hidden;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #ccc;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: white;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #222;
}


header{
	// Might be a good option for mobile.
	// position: absolute;	
	position: fixed;
	height: 16%;
	min-height: 100px;
	width: 100%;
	top: 0;
	grid-area: header; 
	display: grid;
	// Let's revisit the width of the logo column... or if it needs a width at all.
	grid-template-columns: 5% auto 500px 5%;
	grid-template-areas: 
		". logo nav .";
	box-shadow: 0px 3px 10px 3px rgba(black, 0.2);
	padding: 10px 0 15px 0;
	z-index: 1000;
	overflow: hidden;
}

header::before{
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url(../../assets/citra.png);

	/*
	// Tinted image
	background: 
		linear-gradient(
    		rgba(black, 0.45), 
    		rgba(black, 0.45)
    	),
		url(../../assets/citra.png);
	*/


	background-size: cover;
	background-position: center;	
	background-attachment: fixed;
	z-index: -1000;
}

#logo{
	height: 100%; 
	grid-area: logo;
	// background: rgba(blue, 0.5);
}

nav{
	grid-area: nav;
	display: grid;
	//grid-template-rows: auto 30px;
	// background: rgba(orange, 0.3);
	grid-template-areas:
		//"."
		"ul";
}

ul{
	padding: 0; 
	margin: 0;
	margin-left: 20px;
	display: flex;
	// flex-flow: row;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
	// justify-content: flex-end;
	grid-area: ul;
	list-style: none;
	// background-color: green;
	text-align: center;
	line-height: 30px;
}

li{
	width: 100px;
	text-transform: uppercase;
	color: white;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	// background: purple;
	height: 30px;
	// margin-left: 30px;
}

li:first-of-type{
	margin-left: 0;
}

.current{
	background-image: url("../../assets/brush.png");
	background-size: 100% 100%;
	background-position: center;
	color: black;
}

main{
	display: grid;
	grid-area: main;
	grid-template-columns: auto 900px auto;
	grid-template-areas: 
		". content .";
	// background-color: rgba(blue, 0.3);
}

#content{
	min-height: 100%;
	grid-area: content;
	// background: rgba(red, 0.5);
}

article{
	background: white;
	margin-top: 10vh; 
	box-shadow: 0px 0px 10px 3px rgba(black, 0.2);
}

article:first-of-type{
	margin-top: calc(32vh + 50px);
	//margin-top: 16vh;
}

article:last-of-type{
	margin-bottom: 10vh;
}

h2{
	height: 120px;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 120px;
	font-size: 4.5em;
	color: white;
	text-transform: uppercase;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
}

p{
	margin: 0; 
	padding: 60px 80px 60px 80px; 
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: justify;

	/*
	font-family: kazimir, sans-serif;
	font-weight: 300;
	font-style: normal;
	*/

	font-family: kulturista-web, serif;
	font-weight: 300;
	font-style: normal;
}

footer{
	display: grid;
	grid-template-columns: 5% auto auto 5%; 
	grid-template-areas: 
		". copyright social .";
	position: fixed;
	height: 5vh;
	width: 100%;
	bottom: 0;
	// background: rgba(green, 0.3);
	background: rgba(black, 0.6);
	z-index: 1000; 
}

#copyright{
	margin: 0;
	padding: 0;
	grid-area: copyright;
	// background: rgba(red, 0.3);
	line-height: 5vh;
	font-size: 1em;
	// Most metal fucking gray there is!
	color: #666;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
}

#social{
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	grid-area: social;
	// Logos look more centered at 5.5vh for some reason.
	line-height: 5.5vh;
	// background: yellow;
	// background: rgba(blue, 0.3);

	li{
		height: 100%;
		width: auto;
		padding: 0;
		// These are more centered at 5.5
		// line-height: 5vh;
		font-size: 2em;
		margin-left: 30px;
		// background: red;
	}
}

@media all and (max-width: 1000px) {

	header{
		grid-template-columns: 2.5% auto auto 2.5%;
	}

	ul {
		margin-left: 20%;
	}

	main{
		grid-template-columns: auto 95% auto;
	}

	footer{
			grid-template-columns: 2.5% auto auto 2.5%; 
	}
}

@media all and (max-width: 800px) {

	body::-webkit-scrollbar
	{
	    width: 10px;
	    background-color: #F5F5F5;
	}

	body::-webkit-scrollbar-thumb
	{
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #3d3d3d;
	}


	header{
		grid-template-columns: 2.5% auto auto 2.5%;
		// position: absolute;
	}

	header::before{
			content: '';
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-image: url(../../assets/citra.png);

		// Tinted image
		background: 
			linear-gradient(
	    		rgba(black, 0.8), 
	    		rgba(black, 0.8)
	    	),
			url(../../assets/citra.png);

		background-size: cover;
		background-position: center;	
		background-attachment: fixed;
		z-index: -1000;
	}

	ul{
		margin-left: 5%;
		align-items: center;
	}

	li{
		// width: 95px;
		width: 50%;
		// This seems like an elegant solution. 
		max-width: 100px;
	}

	#logo{
		height: 100%;
	}


	p{
		padding: 20px 20px 20px 20px; 
		font-size: 1em;
	}

	h2{
		font-size: 2em;
		height: 60px;
		line-height: 60px;
	}

	footer{
	height: 40px;
	grid-template-columns: 2.5% auto auto 2.5%; 
	background: rgba(black, 0.85);
	}

	#copyright{
		font-size: 0.75em;
		line-height: 40px;
		color: #777;
	}

	#social{
		line-height: 40px;

		li{
			padding-top: 2px;
			margin-left: 15px;
		}
	}
}